/* media queries for screen size 1440px */
@media screen and (max-width: 1440px) {
html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:  hsl(217, 28%, 15%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.logo{
    float: left;
    margin: 8%;
}
.navbar{
    float: right;
    margin: 8%;
}
.nav-item{
    display: inline;
    padding: 30px;
    margin:10px;
}
.nav-link{
    text-decoration: none;
    color: white;
}

.intro-text{
    text-align: center;
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    line-height: 1.6;
    padding-bottom: 10%;
}

.main-text{
    font-size: 35px;
    font-weight: 700;
    width: 700px;
    margin:auto;
    text-align: center;    
}

.sub-text{
    font-size: 14px;
    margin: auto;
    width: 450px;
    padding-bottom: 30px;
}
.button1{
    height:50px;
    width: 200px;
    border-radius: 40px;
    background-color: hsl(198, 60%, 50%);
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.button1:hover{
    height:50px;
    width: 200px;
    border-radius: 40px;
    background-color: hsl(198, 100%, 68%);
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border: none;
    color: white;
    
}

.content{
    background-color: hsl(218, 28%, 13%);
    margin:auto;
    text-align: center;
}
.row{
    display:grid;
    grid-template-columns: auto auto;
}
.col{
    width: 50%;
    margin: auto;
    font-size: 14px;
}

.stay-productive{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    padding: 4%;
    margin:auto;
    background-color: hsl(218, 28%, 13%);
}
.right{
    padding-top: 14%;
}
.right  h3{
    font-size: 26px;
    width:50%;
}
.right a{
    color: hsl(198, 60%, 50%);
}
.section{
    margin: auto;
    background-color: hsl(218, 28%, 13%);
    padding-bottom: 20px;
}
.testimonials{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-bottom: 20px;
}
.card{
    height: 180px;
    width: 280px;
    padding:  20px;
    font-size: 14px;
    background-color: hsl(219, 30%, 18%);
    line-height: 1.6;
}
.testimony{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.img{
    border-radius: 50%;
    width:40px;
    height : 40px;
    margin-top: 20px;
    
}
.contact{
    margin-top: 16px;
    line-height: .4;
}

.form{
    width: 600px;
    height: 130px;
    margin: auto;
    padding: 30px 60px 40px 60px;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    position: relative;
    top: 90px;
}
.button2{
    height:40px;
    width: 200px;
    border-radius: 40px;
    background-color: hsl(198, 60%, 50%);
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.search{
    height: 40px;
    width: 360px;
    border-radius: 40px;
    padding-left: 10px;

}
footer{
    background-color: hsl(216, 53%, 9%);
    height: 400px;
    padding: 60px;
    padding-top: 100px;
}


.footnote{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 30px;
}

/* display flex for the major div classes  */

.location, .phone, .link, .social-icons{

    display: flex;
    flex-direction: row;
    gap: 16px;
    line-height: 2;
}
.icon{
    width: 40px;
}
.icon img{
    padding-top: 18px;
}

.address{
    width: 230px;
}
.number{
    width: 80px;
}

.number a{
    color: white;
    text-decoration: none;
}

.left-link, .right-link{
    width: 150px;    
}

.left-link ul, .right-link ul{
    list-style-type: none;
}
.left-link li, .right-link li {
    padding-top: 10px;
}

.social-icons{
    display: flex;
    flex-direction: row;
}

.fab{
    margin: auto;
    color: white;
    padding: 8px 0 0 8px;
}
.icons {
    height: 30px;
    width: 30px;
    border: solid white 2px;
    border-radius: 50%;
}

.attribution { 
    font-size: 14px; 
    text-align: center; 
    color: white;
    padding-bottom: 6px;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}
}
@media screen and (max-width: 375px){
    html, body{
        width: 100%;
        padding: 0;
        margin: 0;
        background-color:  hsl(217, 28%, 15%);
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    .logo{
        float: left;
        margin: 20px;
        width: 20%;
        margin-top: 10%;
    }

    .navbar{
        float: right;
        margin-top: 12%;
        font-size:12px;
    }
    .nav-item{
        display: inline;
        padding: 2px;
        margin:2px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
    }
    .intro img{
        width: 80%;
        margin: auto;
    }
    .intro-text{
        text-align: center;
        background-image: url(images/bg-curvy-mobile.svg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        line-height: 1.6;
        padding-bottom: 10%;
        margin: auto;
    }   

    .main-text{
        font-size: 20px;
        font-weight: 700;
        margin:auto;
        text-align: center;
        width: 80%;
    }
    
    .sub-text{
        font-size: 14px;
        padding: 20px;
        width: 80%;
    }

    .button1{
        height:50px;
        width: 200px;
        border-radius: 40px;
        background-color: hsl(198, 60%, 50%);
        border: none;
        color: white;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    .button1:hover{
        height:50px;
        width: 300px;
        border-radius: 40px;
        background-color: hsl(198, 100%, 68%);
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        border: none;
        color: white;        
    }
    
    .content{
        background-color: hsl(218, 28%, 13%);
        margin:auto;
        text-align: center;
        ;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .col{
        width: 90%;
        padding: 20px;
        margin: auto;
        font-size: 14px;
    }
    
    .stay-productive{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin:auto;
        background-color: hsl(218, 28%, 13%);
    }
    .left img{
        width: 90%;
        background-size: contain;
        margin: auto;
    }

    .right{
        padding:20px;
    }
    .right  h3{
        font-size: 14px;
        width:90%;
    }
    .right a{
        color: hsl(198, 60%, 50%);
    }
    .testimonials{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        
    }
    .card{
        height: 160px;
        width: 270px;
        padding:  20px;
        font-size: 14px;
        background-color: hsl(219, 30%, 18%);
        line-height: 1.4;
        margin: auto;
        font-size: 12px;
    }
    .testimony{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .img{
        border-radius: 50%;
        width:40px;
        height : 40px;
        margin-top: 20px;
        
    }
    .contact{
        margin-top: 16px;
        line-height: .4;
    }
    .form{
        width: 220px;
        height: 230px;
        text-align: center;
        background-color: hsl(217, 28%, 15%);
        margin: auto;
        font-size: 12px;
        position: relative;
        top: 200px;
        padding: 30px;
    }
    .form p {
        width: 240px;
        text-align: center;
        line-height: 1.4;
        position: relative;
        right: 10px;
    }
    .button2{
        height:34px;
        width: 150px;
        border-radius: 40px;
        background-color: hsl(198, 60%, 50%);
        border: none;
        color: white;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        margin: 10px;
    }
    .search{
        height: 34px;
        width: 150px;
        border-radius: 40px;
        padding: 10px;
        margin:10px;
    
    }

    footer{
        background-color: hsl(216, 53%, 9%);
        width: 300px;
        height: 700px;
        padding: 30px;
        padding-top: 250px;
    }
    
    .footnote{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1px;    
        padding-bottom: 200px;
    }
    
    .location, .phone, .link, .social-icons{
        display: flex;
        flex-direction: row;
        gap: 2px;
        line-height: 1.3;
    }
    .link{
        display: flex;
        flex-direction: column;
        gap:2px;
    }
    .social-icons{
        display: grid;
        grid-template-columns: auto auto auto ;
        width: 160px;
        margin: auto;

    }
    
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        color: white;
    }
    
    .attribution a {
         color: hsl(224, 100%, 59%); 
    }





}